In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplot inline

In [2]:
df = pd.read_csv('train1.csv')
submisson = pd.read_csv('SubmissionSample.csv')
test = pd.read_csv('test1.csv')

In [3]:
df.replace('NA', np.NaN)
test.replace('NA', np.NaN)

,Loan.ID,Current.Loan.Amount,Term,Credit.Score,Years.in.current.job,Home.Ownership,Annual.Income,Purpose,Monthly.Debt,Years.of.Credit.History,Months.since.last.delinquent,Number.of.Open.Accounts,Number.of.Credit.Problems,Current.Credit.Balance,Maximum.Open.Credit,Bankruptcies,Tax.Liens,Loan.Status
0,2,6966,Short Term,673.0,1 year,Home Mortgage,54736.0,Home Improvements,839.28,16.4,8.0,6,0,2942,3881,0.0,0.0,NaN
1,6,9848,Short Term,NaN,6 years,Rent,NaN,Debt Consolidation,605.65,18.8,NaN,6,0,6957,8568,0.0,0.0,NaN
2,9,99999999,Short Term,724.0,3 years,Rent,27462.0,Debt Consolidation,338.69,10.8,NaN,10,0,11773,15369,0.0,0.0,NaN
3,12,6737,Short Term,NaN,3 years,Rent,NaN,Debt Consolidation,506.38,5.7,NaN,9,0,5841,10856,0.0,0.0,NaN
4,14,5878,Short Term,743.0,less than 1 year,Home Mortgage,107767.0,Home Improvements,1420.73,24.6,5.0,14,0,35963,89459,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23381,84174,19600,Short Term,NaN,8 years,Home Mortgage,NaN,Debt Consolidation,2041.66,19.4,40.0,24,0,19405,42555,0.0,0.0,NaN
23382,84177,14727,Short Term,745.0,5 years,Home Mortgage,78544.0,Debt Consolidation,988.35,13.0,NaN,11,0,17083,31991,0.0,0.0,NaN
23383,84180,23065,Long Term,655.0,less than 1 year,Home Mortgage,85823.0,Business Loan,172.36,14.0,21.0,6,0,969,6726,0.0,0.0,NaN
23384,84182,11318,Short Term,748.0,1 year,Rent,84949.0,Debt Consolidation,842.41,16.0,NaN,17,0,5903,22194,0.0,0.0,NaN
23385,84188,8254,Short Term,741.0,1 year,Home Mortgage,58151.0,Business Loan,852.89,14.7,NaN,11,0,4990,34180,0.0,0.0,NaN

In [4]:
df.rename(columns={"Loan.ID" : "LoanID", "Current.Loan.Amount" : "CurrentLoanAmount", "Credit.Score" : "CreditScore", "Years.in.current.job" : "Yearsincurrentjob","Home.Ownership" : "HomeOwnership", "Annual.Income" : "AnnualIncome", "Monthly.Debt" : "MonthlyDebt", "Years.of.Credit.History" : "YearsofCreditHistory"},inplace=True)

In [5]:
test.rename(columns={"Loan.ID" : "LoanID", "Current.Loan.Amount" : "CurrentLoanAmount", "Credit.Score" : "CreditScore", "Years.in.current.job" : "Yearsincurrentjob","Home.Ownership" : "HomeOwnership", "Annual.Income" : "AnnualIncome", "Monthly.Debt" : "MonthlyDebt", "Years.of.Credit.History" : "YearsofCreditHistory"},inplace=True)

In [6]:
df.rename(columns={"Months.since.last.delinquent" : "Monthssincelastdelinquent", "Number.of.Open.Accounts" : "NumberofOpenAccounts", "Number.of.Credit.Problems" : "NumberofCreditProblems", "Current.Credit.Balance" : "CurrentCreditBalance", "Maximum.Open.Credit" : "MaximumOpenCredit", "Tax.Liens" : "TaxLiens", "Loan.Status" : "LoanStatus"},inplace=True)

In [7]:
test.rename(columns={"Months.since.last.delinquent" : "Monthssincelastdelinquent", "Number.of.Open.Accounts" : "NumberofOpenAccounts", "Number.of.Credit.Problems" : "NumberofCreditProblems", "Current.Credit.Balance" : "CurrentCreditBalance", "Maximum.Open.Credit" : "MaximumOpenCredit", "Tax.Liens" : "TaxLiens", "Loan.Status" : "LoanStatus"},inplace=True)

In [8]:
testx = test['LoanID']

In [9]:
from sklearn.preprocessing import LabelEncoder
df['term'] = LabelEncoder().fit_transform(df.Term)
df['homeownership'] = LabelEncoder().fit_transform(df.HomeOwnership)
df['purpose']=  LabelEncoder().fit_transform(df.Purpose)
df1 = df.drop(['Term','HomeOwnership','Purpose'], axis=1)
df1.head()

,LoanID,CurrentLoanAmount,CreditScore,Yearsincurrentjob,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,NumberofOpenAccounts,NumberofCreditProblems,CurrentCreditBalance,MaximumOpenCredit,Bankruptcies,TaxLiens,LoanStatus,term,homeownership,purpose
0,0,17879,739.0,6 years,95357.0,1509.82,34.4,5.0,26,0,23986,40313,0.0,0.0,1,1,1,3
1,1,99999999,619.0,6 years,54406.0,1065.45,12.7,NaN,8,0,22938,31250,0.0,0.0,1,0,3,3
2,3,99999999,738.0,less than 1 year,40480.0,573.47,32.7,60.0,9,1,3963,5669,1.0,0.0,1,1,3,6
3,4,11200,738.0,4 years,53965.0,1358.11,15.8,NaN,8,1,11782,25951,1.0,0.0,1,1,3,3
4,5,3608,731.0,10+ years,47709.0,339.93,16.1,47.0,6,0,22909,25568,0.0,0.0,1,1,1,5

In [10]:
from sklearn.preprocessing import LabelEncoder
test['term'] = LabelEncoder().fit_transform(test.Term)
test['homeownership'] = LabelEncoder().fit_transform(test.HomeOwnership)
test['purpose']=  LabelEncoder().fit_transform(test.Purpose)
test1 = df.drop(['Term','HomeOwnership','Purpose'], axis=1)

In [11]:
dfn = df.drop(['Term','Yearsincurrentjob', 'HomeOwnership','Purpose'],axis=1)
testn = test.drop(['Term','Yearsincurrentjob', 'HomeOwnership','Purpose'],axis=1)

In [12]:
mean = dfn['CreditScore'].mean()
dfn['CreditScore']=dfn['CreditScore'].fillna(mean)

In [13]:
mean = testn['CreditScore'].mean()
testn['CreditScore']=testn['CreditScore'].fillna(mean)

In [14]:
mean = testn['AnnualIncome'].mean()
testn['AnnualIncome']=testn['AnnualIncome'].fillna(mean)

In [15]:
mean = dfn['AnnualIncome'].mean()
dfn['AnnualIncome']=dfn['AnnualIncome'].fillna(mean)

In [16]:
mean = dfn['Monthssincelastdelinquent'].mean()
dfn['Monthssincelastdelinquent']=dfn['Monthssincelastdelinquent'].fillna(mean)

In [17]:
mean = testn['Monthssincelastdelinquent'].mean()
testn['Monthssincelastdelinquent']=testn['Monthssincelastdelinquent'].fillna(mean)

In [18]:
mean = dfn['Bankruptcies'].mean()
dfn['Bankruptcies']=dfn['Bankruptcies'].fillna(mean)

In [19]:
mean = testn['Bankruptcies'].mean()
testn['Bankruptcies']=testn['Bankruptcies'].fillna(mean)

In [20]:
mean = dfn['TaxLiens'].mean()
dfn['TaxLiens']=dfn['TaxLiens'].fillna(mean)

In [21]:
mean = testn['TaxLiens'].mean()
testn['TaxLiens']=testn['TaxLiens'].fillna(mean)

In [22]:
map = {'10+ years' : 11,
       '9 years' : 10,
       '8 years' : 9,
       '7 years' : 8,
       '6 years' : 7,
       '5 years' : 6,
       '4 years' : 5,
       '3 years' : 4,
       '2 years' : 3,
       '1 years' : 2,
       'less than  1 year' : 1
    
}
dfn['Yearsincurrentjobf'] = df.Yearsincurrentjob.map(map)

In [23]:
map = {'10+ years' : 11,
       '9 years' : 10,
       '8 years' : 9,
       '7 years' : 8,
       '6 years' : 7,
       '5 years' : 6,
       '4 years' : 5,
       '3 years' : 4,
       '2 years' : 3,
       '1 years' : 2,
       'less than  1 year' : 1
    
}
testn['Yearsincurrentjobf'] = test.Yearsincurrentjob.map(map)

In [24]:
meann = dfn.Yearsincurrentjobf.mean()
dfn['Yearsincurrentjobf']=dfn['Yearsincurrentjobf'].fillna(meann)

In [25]:
meann = testn.Yearsincurrentjobf.mean()
testn['Yearsincurrentjobf']=testn['Yearsincurrentjobf'].fillna(meann)

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
a = scaling.fit_transform(dfn)

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()
A = scaling.fit_transform(testn)

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:375: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
C:\Users\Asus\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:376: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [28]:
dfnorm = pd.DataFrame(a)

In [29]:
testnorm = pd.DataFrame(A)

In [30]:
dfn = dfn.drop('LoanID',axis=1)
dfnorm = dfnorm.drop(0,axis=1)

In [31]:
testn = testn.drop('LoanID',axis=1)
testnorm = testnorm.drop(0,axis=1)

In [32]:
dfg = dfn.drop('NumberofCreditProblems', axis=1)
dfgg = dfg.drop('LoanStatus',axis=1)

In [33]:
testg = testn.drop('NumberofCreditProblems', axis=1)
testgg = testg.drop('LoanStatus',axis=1)

In [34]:
testy = testnorm.drop(8,axis=1)

In [35]:
dfy = dfnorm.drop(8,axis =1)
dfy.head()

,1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17
0,0.000174,0.022238,0.010459,0.166631,0.541301,0.028409,0.342105,0.028067,0.001111,0.000000,0.0,1.0,1.0,0.333333,0.200000,0.6
1,1.000000,0.004910,0.005757,0.117588,0.159930,0.198065,0.105263,0.026841,0.000861,0.000000,0.0,1.0,0.0,1.000000,0.200000,0.6
2,1.000000,0.022094,0.004158,0.063291,0.511424,0.340909,0.118421,0.004637,0.000156,0.166667,0.0,1.0,1.0,1.000000,0.400000,0.0
3,0.000107,0.022094,0.005706,0.149888,0.214411,0.198065,0.105263,0.013787,0.000715,0.166667,0.0,1.0,1.0,1.000000,0.200000,0.4
4,0.000031,0.021083,0.004988,0.037516,0.219684,0.267045,0.078947,0.026807,0.000705,0.000000,0.0,1.0,1.0,0.333333,0.333333,1.0

In [36]:

from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

cross_val_score(clf,dfy.drop(13,axis=1), dfg.LoanStatus, cv=10)

In [37]:
from sklearn.ensemble import RandomForestClassifier
d = RandomForestClassifier()
cross_val_score(d,dfy.drop(13,axis=1), dfg.LoanStatus, cv=2)

In [38]:

from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [39]:
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    gb = GradientBoostingClassifier(n_estimators=40, learning_rate = learning_rate, max_features=2, max_depth = 2, random_state = 0)

In [40]:
cross_val_score(gb,dfy.drop(13,axis=1), dfg.LoanStatus, cv=5)

array([0.80708823, 0.80593701, 0.80297673, 0.80881506, 0.81241776])

In [40]:
from sklearn.ensemble import AdaBoostRegressor
model = AdaBoostRegressor(d,n_estimators=200)


cross_val_score(model,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=10)

In [42]:
from sklearn.ensemble import AdaBoostClassifier
h1 = AdaBoostClassifier(d,n_estimators=200)

In [73]:
0.80595297+ 0.81187305+ 0.80365072+ 0.80940635+ 0.80805921+0.80345395+ 0.80690789+ 0.81085526+ 0.80608553+0.81759868

8.08384361

In [ ]:
0.80914009+ 0.80568666+ 0.80693069+ 0.80589454+0.80773659+0.80969376+0.814414

In [53]:
h = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1),n_estimators=200)

cross_val_score(h,da.drop(13,axis=1), dfg.LoanStatus, cv=7)

In [43]:
dfg.head()

,CurrentLoanAmount,CreditScore,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,NumberofOpenAccounts,CurrentCreditBalance,MaximumOpenCredit,Bankruptcies,TaxLiens,LoanStatus,term,homeownership,purpose,Yearsincurrentjobf
0,17879,739.0,95357.0,1509.82,34.4,5.000000,26,23986,40313,0.0,0.0,1,1,1,3,7.0
1,99999999,619.0,54406.0,1065.45,12.7,34.859402,8,22938,31250,0.0,0.0,1,0,3,3,7.0
2,99999999,738.0,40480.0,573.47,32.7,60.000000,9,3963,5669,1.0,0.0,1,1,3,6,1.0
3,11200,738.0,53965.0,1358.11,15.8,34.859402,8,11782,25951,1.0,0.0,1,1,3,3,5.0
4,3608,731.0,47709.0,339.93,16.1,47.000000,6,22909,25568,0.0,0.0,1,1,1,5,11.0

In [44]:
dfn.head()

,CurrentLoanAmount,CreditScore,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,NumberofOpenAccounts,NumberofCreditProblems,CurrentCreditBalance,MaximumOpenCredit,Bankruptcies,TaxLiens,LoanStatus,term,homeownership,purpose,Yearsincurrentjobf
0,17879,739.0,95357.0,1509.82,34.4,5.000000,26,0,23986,40313,0.0,0.0,1,1,1,3,7.0
1,99999999,619.0,54406.0,1065.45,12.7,34.859402,8,0,22938,31250,0.0,0.0,1,0,3,3,7.0
2,99999999,738.0,40480.0,573.47,32.7,60.000000,9,1,3963,5669,1.0,0.0,1,1,3,6,1.0
3,11200,738.0,53965.0,1358.11,15.8,34.859402,8,1,11782,25951,1.0,0.0,1,1,3,3,5.0
4,3608,731.0,47709.0,339.93,16.1,47.000000,6,0,22909,25568,0.0,0.0,1,1,1,5,11.0

In [45]:
dfnorm.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.000174,0.022238,0.010459,0.166631,0.541301,0.028409,0.342105,0.000000,0.028067,0.001111,0.000000,0.0,1.0,1.0,0.333333,0.200000,0.6
1,1.000000,0.004910,0.005757,0.117588,0.159930,0.198065,0.105263,0.000000,0.026841,0.000861,0.000000,0.0,1.0,0.0,1.000000,0.200000,0.6
2,1.000000,0.022094,0.004158,0.063291,0.511424,0.340909,0.118421,0.066667,0.004637,0.000156,0.166667,0.0,1.0,1.0,1.000000,0.400000,0.0
3,0.000107,0.022094,0.005706,0.149888,0.214411,0.198065,0.105263,0.066667,0.013787,0.000715,0.166667,0.0,1.0,1.0,1.000000,0.200000,0.4
4,0.000031,0.021083,0.004988,0.037516,0.219684,0.267045,0.078947,0.000000,0.026807,0.000705,0.000000,0.0,1.0,1.0,0.333333,0.333333,1.0

In [46]:
dfy.head()

,1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17
0,0.000174,0.022238,0.010459,0.166631,0.541301,0.028409,0.342105,0.028067,0.001111,0.000000,0.0,1.0,1.0,0.333333,0.200000,0.6
1,1.000000,0.004910,0.005757,0.117588,0.159930,0.198065,0.105263,0.026841,0.000861,0.000000,0.0,1.0,0.0,1.000000,0.200000,0.6
2,1.000000,0.022094,0.004158,0.063291,0.511424,0.340909,0.118421,0.004637,0.000156,0.166667,0.0,1.0,1.0,1.000000,0.400000,0.0
3,0.000107,0.022094,0.005706,0.149888,0.214411,0.198065,0.105263,0.013787,0.000715,0.166667,0.0,1.0,1.0,1.000000,0.200000,0.4
4,0.000031,0.021083,0.004988,0.037516,0.219684,0.267045,0.078947,0.026807,0.000705,0.000000,0.0,1.0,1.0,0.333333,0.333333,1.0

In [50]:
da=dfn.replace(99999999,12177723)

In [49]:
dfn.CurrentLoanAmount.mean()

12177723.496825866

In [51]:
da.head()

,CurrentLoanAmount,CreditScore,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,NumberofOpenAccounts,NumberofCreditProblems,CurrentCreditBalance,MaximumOpenCredit,Bankruptcies,TaxLiens,LoanStatus,term,homeownership,purpose,Yearsincurrentjobf
0,17879,739.0,95357.0,1509.82,34.4,5.000000,26,0,23986,40313,0.0,0.0,1,1,1,3,7.0
1,12177723,619.0,54406.0,1065.45,12.7,34.859402,8,0,22938,31250,0.0,0.0,1,0,3,3,7.0
2,12177723,738.0,40480.0,573.47,32.7,60.000000,9,1,3963,5669,1.0,0.0,1,1,3,6,1.0
3,11200,738.0,53965.0,1358.11,15.8,34.859402,8,1,11782,25951,1.0,0.0,1,1,3,3,5.0
4,3608,731.0,47709.0,339.93,16.1,47.000000,6,0,22909,25568,0.0,0.0,1,1,1,5,11.0

In [56]:

0.8084994757142858*100

80.84994757142859

In [43]:

from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [44]:
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    gb = GradientBoostingClassifier(n_estimators=10, learning_rate = learning_rate, max_features=2, max_depth = 3, random_state = 0)

In [45]:
cross_val_score(gb,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=10)

array([0.80529518, 0.81072192, 0.80414406, 0.80776188, 0.80411184,
       0.80197368, 0.80756579, 0.809375  , 0.80740132, 0.81496711])

In [66]:
0.80397961+ 0.81269528+ 0.80332182+ 0.80776188+0.80460526+ 0.80263158+ 0.80559211+0.80740132+0.80888158+ 0.81430921

8.07117965

In [67]:
dfnorm.corr()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
1,1.000000,-0.103373,0.010002,-0.007464,0.018171,0.007089,0.001045,0.004612,0.001571,0.000179,0.009000,-0.001614,0.209436,0.060511,-0.009873,-0.003036,-0.002285
2,-0.103373,1.000000,-0.011980,-0.002433,-0.017460,-0.004576,0.002674,-0.001587,-0.005870,-0.005313,-0.007266,0.009164,-0.406291,-0.037171,0.026587,-0.011137,-0.005282
3,0.010002,-0.011980,1.000000,0.389873,0.127342,-0.036130,0.117970,-0.015037,0.255597,0.053530,-0.040204,0.031292,0.040702,-0.069488,-0.141446,-0.004895,0.058161
4,-0.007464,-0.002433,0.389873,1.000000,0.198528,-0.036626,0.411829,-0.057784,0.487853,0.063082,-0.078111,0.015244,-0.009794,-0.159331,-0.206417,-0.065897,0.121631
5,0.018171,-0.017460,0.127342,0.198528,1.000000,-0.026955,0.129628,0.060772,0.211815,0.047293,0.068824,0.015053,0.030603,-0.036304,-0.196590,-0.021057,0.204092
6,0.007089,-0.004576,-0.036130,-0.036626,-0.026955,1.000000,-0.024494,0.078943,-0.018371,-0.004960,0.086274,0.009155,0.013280,0.007854,0.035482,-0.012779,-0.002638
7,0.001045,0.002674,0.117970,0.411829,0.129628,-0.024494,1.000000,-0.016702,0.227288,0.046539,-0.025214,0.006448,-0.016107,-0.078650,-0.141449,-0.078290,0.050053
8,0.004612,-0.001587,-0.015037,-0.057784,0.060772,0.078943,-0.016702,1.000000,-0.116483,-0.019176,0.748992,0.582490,0.000712,0.021511,-0.003527,0.001588,0.034685
9,0.001571,-0.005870,0.255597,0.487853,0.211815,-0.018371,0.227288,-0.116483,1.000000,0.196007,-0.125580,-0.018501,0.010737,-0.106202,-0.173279,-0.059340,0.095416
10,0.000179,-0.005313,0.053530,0.063082,0.047293,-0.004960,0.046539,-0.019176,0.196007,1.000000,-0.023497,-0.003955,0.009187,-0.006590,-0.042010,0.001971,0.012472
11,0.009000,-0.007266,-0.040204,-0.078111,0.068824,0.086274,-0.025214,0.748992,-0.125580,-0.023497,1.000000,0.048625,0.011670,0.028976,0.003389,-0.006320,0.036395
12,-0.001614,0.009164,0.031292,0.015244,0.015053,0.009155,0.006448,0.582490,-0.018501,-0.003955,0.048625,1.000000,-0.013363,-0.001150,-0.005603,0.000920,0.010446
13,0.209436,-0.406291,0.040702,-0.009794,0.030603,0.013280,-0.016107,0.000712,0.010737,0.009187,0.011670,-0.013363,1.000000,0.123478,-0.054586,-0.001287,0.008471
14,0.060511,-0.037171,-0.069488,-0.159331,-0.036304,0.007854,-0.078650,0.021511,-0.106202,-0.006590,0.028976,-0.001150,0.123478,1.000000,0.117121,0.049622,-0.061950
15,-0.009873,0.026587,-0.141446,-0.206417,-0.196590,0.035482,-0.141449,-0.003527,-0.173279,-0.042010,0.003389,-0.005603,-0.054586,0.117121,1.000000,0.033880,-0.193094
16,-0.003036,-0.011137,-0.004895,-0.065897,-0.021057,-0.012779,-0.078290,0.001588,-0.059340,0.001971,-0.006320,0.000920,-0.001287,0.049622,0.033880,1.000000,-0.023489
17,-0.002285,-0.005282,0.058161,0.121631,0.204092,-0.002638,0.050053,0.034685,0.095416,0.012472,0.036395,0.010446,0.008471,-0.061950,-0.193094,-0.023489,1.000000

In [68]:
db = da.drop_duplicates()

In [69]:
da.shape

(60804, 17)

In [70]:
db.shape

(58473, 17)

In [137]:
dfn.head()

,CurrentLoanAmount,CreditScore,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,NumberofOpenAccounts,NumberofCreditProblems,CurrentCreditBalance,MaximumOpenCredit,Bankruptcies,TaxLiens,LoanStatus,term,homeownership,purpose,Yearsincurrentjobf
0,17879,739.0,95357.0,1509.82,34.4,5.000000,26,0,23986,40313,0.0,0.0,1,1,1,3,7.0
1,99999999,619.0,54406.0,1065.45,12.7,34.859402,8,0,22938,31250,0.0,0.0,1,0,3,3,7.0
2,99999999,738.0,40480.0,573.47,32.7,60.000000,9,1,3963,5669,1.0,0.0,1,1,3,6,1.0
3,11200,738.0,53965.0,1358.11,15.8,34.859402,8,1,11782,25951,1.0,0.0,1,1,3,3,5.0
4,3608,731.0,47709.0,339.93,16.1,47.000000,6,0,22909,25568,0.0,0.0,1,1,1,5,11.0

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, test_size=0.33, random_state=42)

In [155]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
#create a new random forest classifier
rf = RandomForestClassifier()
#create a dictionary of all values we want to test for n_estimators
params_rf = {â€˜n_estimatorsâ€™ : [50, 100, 200]}
#use gridsearch to test all values for n_estimators
rf_gs = GridSearchCV(rf, params_rf, cv=5)
#fit model to training data
rf_gs.fit(X_train, y_train)
#save best model
rf_best = rf_gs.best_estimator_
#check best n_estimators value
print(rf_gs.best_params_)

SyntaxError: invalid character in identifier (<ipython-input-155-68b3a11232b7>, line 6)

In [47]:
from sklearn.ensemble import BaggingClassifier

In [ ]:
bg = BaggingClassifier(h,max_samples=0.6,max_features=1.0,n_estimators=20)
bg.fit(X_train,y_train)

In [169]:
bg.score(X_test,y_test)

0.7615867636798564

In [51]:
from sklearn.ensemble import VotingClassifier

In [61]:
voting = VotingClassifier(estimators = [d,h,gb],voting='hard')

In [163]:
voting(X_train,y_train).score()

TypeError: 'VotingClassifier' object is not callable

In [62]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [171]:
clf = RandomForestClassifier(n_estimators=1000,n_jobs=-1);

bclf = AdaBoostClassifier(base_estimator=clf,n_estimators=clf.n_estimators)

In [1]:
bclf.fit(X_train,y_train)

NameError: name 'bclf' is not defined

In [ ]:
bclf.score()

In [63]:
from sklearn.ensemble import BaggingClassifier
bag = BaggingClassifier(
                        d,
                        max_samples =0.5,
                        max_features = 2,
                        n_jobs=2,
                        oob_score=True)

In [ ]:
bag.fit(X_train,y_train)

In [76]:
from sklearn.ensemble import AdaBoostClassifier
m = AdaBoostClassifier(base_estimators=None,n_estimators=100)
cross_val_score(m,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=3)

TypeError: __init__() got an unexpected keyword argument 'base_estimators'

In [64]:
from sklearn.ensemble import GradientBoostingClassifier
m=GradientBoostingClassifier(n_estimators=10)

In [65]:
m.set_params(n_estimators=10,max_depth=2)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=2,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=10,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [88]:
cross_val_score(m,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=10)

array([0.80496629, 0.81187305, 0.80365072, 0.80809077, 0.80608553,
       0.80328947, 0.80871711, 0.80805921, 0.80773026, 0.81578947])

In [82]:
0.80496629+0.81187305+0.80365072+0.80809077+0.80608553+0.80328947+0.80871711+ 0.80805921+ 0.80773026+ 0.81578947

8.07825188

In [66]:
from sklearn.ensemble import VotingClassifier

In [96]:
model = VotingClassifier(estimators=[('lr', h), ('gbm', m)], voting='soft')

In [102]:
model = VotingClassifier(estimators=[('lr', h), ('gbm', m),('rf',d)] ,voting='hard')

In [97]:
cross_val_score(model,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=4)

array([0.80764423, 0.80632853, 0.80744688, 0.8100125 ])

In [95]:
3.23537925/0.04

80.88448125

In [103]:
model.fit(dfn.drop('LoanStatus',axis=1), dfn.LoanStatus)

VotingClassifier(estimators=[('lr',
                              AdaBoostClassifier(algorithm='SAMME.R',
                                                 base_estimator=RandomForestClassifier(bootstrap=True,
                                                                                       ccp_alpha=0.0,
                                                                                       class_weight=None,
                                                                                       criterion='gini',
                                                                                       max_depth=None,
                                                                                       max_features='auto',
                                                                                       max_leaf_nodes=None,
                                                                                       max_samples=None,
                                                                                       min_impurity_decrease=0.0,
                                                                                       min_impurity_split=None,
                                                                                       min_samples_leaf=1,
                                                                                       min_samples_split=2,
                                                                                       min_weight_fr...
                                                     criterion='gini',
                                                     max_depth=None,
                                                     max_features='auto',
                                                     max_leaf_nodes=None,
                                                     max_samples=None,
                                                     min_impurity_decrease=0.0,
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     n_estimators=100,
                                                     n_jobs=None,
                                                     oob_score=False,
                                                     random_state=None,
                                                     verbose=0,
                                                     warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

In [106]:
Q=model.predict(testn.drop('LoanStatus',axis=1))

In [107]:
df_a = pd.DataFrame(Q)
dp1 = pd.concat([testx, df_a], axis=1)

In [109]:
dp1.to_csv('C:/Users/Asus/result8.csv',index=False)

In [52]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model1 = BaggingClassifier(h)
cross_val_score(model,dfnorm.drop(13,axis=1), dfnorm[13], cv=4)

In [53]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model2 = BaggingClassifier(d)

In [117]:
model = VotingClassifier(estimators=[('lr', h), ('gbm', m),('1',model1),('2',model2)] ,voting='hard')

In [118]:
cross_val_score(model,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=4)

array([0.80803894, 0.80882837, 0.80863101, 0.81159134])

In [120]:
3.23708966/0.04

80.9272415

In [112]:
3.23741859/0.04

80.93546475

In [122]:
model1.fit(dfn.drop('LoanStatus',axis=1), dfn.LoanStatus)
R=model1.predict(testn.drop('LoanStatus',axis=1))

In [ ]:
def Stacking(model,train,y,test,n_fold):
   folds=StratifiedKFold(n_splits=n_fold,random_state=1)
   test_pred=np.empty((test.shape[0],1),float)
   train_pred=np.empty((0,1),float)
   for train_indices,val_indices in folds.split(train,y.values):
      x_train,x_val=train.iloc[train_indices],train.iloc[val_indices]
      y_train,y_val=y.iloc[train_indices],y.iloc[val_indices]

      model.fit(X=x_train,y=y_train)
      train_pred=np.append(train_pred,model.predict(x_val))
      test_pred=np.append(test_pred,model.predict(test))
    return test_pred.reshape(-1,1),train_pred

In [123]:
df_a = pd.DataFrame(R)
dp1 = pd.concat([testx, df_a], axis=1)

In [124]:
dp1.to_csv('C:/Users/Asus/result14.csv',index=False)

In [130]:
model5 = VotingClassifier(estimators=[('1',model1),('2',model2)] ,voting='hard')

In [131]:
cross_val_score(model5,dfn.drop('LoanStatus',axis=1), dfn.LoanStatus, cv=4)

array([0.80909151, 0.80856523, 0.80876258, 0.81198605])

In [129]:
3.2360371/0.04

80.9009275

In [132]:
0.80909151+ 0.80856523+0.80876258+ 0.81198605

3.2384053699999997

In [133]:
3.2384053699999997/0.04

80.96013425

In [134]:
model5.fit(dfn.drop('LoanStatus',axis=1), dfn.LoanStatus)
S=model1.predict(testn.drop('LoanStatus',axis=1))

In [138]:
df_a = pd.DataFrame(S)
dp1 = pd.concat([testx, df_a], axis=1)

In [142]:
import lightgbm as lgb

ModuleNotFoundError: No module named 'lightgbm'

In [140]:
dp1.to_csv('C:/Users/Asus/result30.csv',index=False)

In [141]:
from catboost import CatBoostClassifier

ModuleNotFoundError: No module named 'catboost'

In [ ]:
model5.fit(dfn.drop('LoanStatus',axis=1), dfn.LoanStatus)
S=model1.predict(testn.drop('LoanStatus',axis=1))

In [36]:
dfn.head()

,CurrentLoanAmount,CreditScore,AnnualIncome,MonthlyDebt,YearsofCreditHistory,Monthssincelastdelinquent,NumberofOpenAccounts,NumberofCreditProblems,CurrentCreditBalance,MaximumOpenCredit,Bankruptcies,TaxLiens,LoanStatus,term,homeownership,purpose,Yearsincurrentjobf
0,17879,739.0,95357.0,1509.82,34.4,5.0,26,0,23986,40313,0.0,0.0,1,1,1,3,7.0
1,99999999,619.0,54406.0,1065.45,12.7,NaN,8,0,22938,31250,0.0,0.0,1,0,3,3,7.0
2,99999999,738.0,40480.0,573.47,32.7,60.0,9,1,3963,5669,1.0,0.0,1,1,3,6,1.0
3,11200,738.0,53965.0,1358.11,15.8,NaN,8,1,11782,25951,1.0,0.0,1,1,3,3,5.0
4,3608,731.0,47709.0,339.93,16.1,47.0,6,0,22909,25568,0.0,0.0,1,1,1,5,11.0

In [57]:
X= dfn.drop(['CurrentLoanAmount','MonthlyDebt','YearsofCreditHistory','Monthssincelastdelinquent','NumberofOpenAccounts','NumberofCreditProblems','CurrentCreditBalance','MaximumOpenCredit','Bankruptcies','TaxLiens','LoanStatus','Yearsincurrentjobf'],axis=1)

In [58]:
testx = testn.drop(['CurrentLoanAmount','MonthlyDebt','YearsofCreditHistory','Monthssincelastdelinquent','NumberofOpenAccounts','NumberofCreditProblems','CurrentCreditBalance','MaximumOpenCredit','Bankruptcies','TaxLiens','LoanStatus','Yearsincurrentjobf'],axis=1)

In [41]:
model = VotingClassifier(estimators=[('lr', h), ('gbm', m),('1',model1),('2',model2)] ,voting='hard')

NameError: name 'VotingClassifier' is not defined

In [67]:
model = VotingClassifier(estimators=[('lr', h), ('gbm', m),('rf',d)] ,voting='hard')

In [68]:
cross_val_score(model,X, dfn.LoanStatus, cv=4)

array([0.80771002, 0.80652589, 0.80705217, 0.81040721])

In [55]:
model = VotingClassifier(estimators=[('1',model1),('2',model2)] ,voting='hard')

In [ ]:
model.fit(X, dfn.LoanStatus)

In [ ]:

S=model.predict(testx))